body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
}

.dropdown {
    position: relative;
}

.user-btn {
    font-family: inherit;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkred;
    box-shadow: 0 0 20px rgba(0,0,0,0.13); 
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    gap: 10px;
    cursor: pointer;
}

.user-btn svg {
    width: 30px;
    height: 30px;
    transition: all 180ms ease-in 80ms;

}

.dropdown-list {
    position: absolute;
    top: 40px;
    width: 130px;
    background-color: white;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 180ms ease-in 80ms;
}

.dropdown-list a {
    text-decoration: none;
    color: darkred;
    display: block;
    margin-bottom: 5px;
}

.dropdown-list a:last-child {
    margin-bottom: 0;
}

.dropdown:hover .dropdown-list {
    visibility: visible;
    opacity: 1;
    transform: translateY(10px);
}

.dropdown:hover .user-btn {
    background-color: rgb(78, 2, 2);
}

.dropdown:hover .user-btn svg {
    transform: rotate(180deg);
}